-r requirements.txt

ansimarkup==1.4.0
colorama==0.4.4
deprecation==2.0.7
flake8==3.8.4
isort==5.7.0
mccabe==0.6.1
packaging==20.8
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
python-dateutil==2.8.0
six==1.15.0
sqlparse==0.4.1
structlog==20.1.0
wrapt==1.12.1
